%section#price.sections.tools
  .row
    .columns
      %h1 Стоимость проектирования
      %hr
  .row
    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Продающая страница
        %li.price 29000 <small>рублей</small> 
        %li.bullet-item Одностраничный сайт
        %li.bullet-item Адаптивный веб-дизайн
        %li.bullet-item HTML 5 / CSS 3 / JavaScript
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "Landing Page"), class: "button success radius"

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Корпоративный сайт
        %li.price 49000 <small>рублей</small>
        %li.bullet-item Ruby on Rails
        %li.bullet-item Почта для домена
        %li.bullet-item Адаптивный веб-дизайн
        %li.bullet-item Система управления сайтом 
        %li.bullet-item Обучение администрирование
        %li.bullet-item Профессиональная поддержка
        %li.bullet-item HTML 5 / CSS 3 / JavaScript
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "Standart Website"), class: "button success radius"

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Электронная коммерция
        %li.price 69000 <small>рублей</small>
        %li.bullet-item Ruby on Rails
        %li.bullet-item Почта для домена
        %li.bullet-item Адаптивный веб-дизайн
        %li.bullet-item Система управления сайтом 
        %li.bullet-item Обучение администрирование
        %li.bullet-item Профессиональная поддержка
        %li.bullet-item HTML 5 / CSS 3 / JavaScript
        %li.bullet-item Корзина покупателя
        %li.bullet-item Онлайн платежи
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "E-commerce Website"), class: "button success radius"

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title ПРО Веб-приложение
        %li.price 99000 <small>рублей</small>
        %li.bullet-item Ruby on Rails
        %li.bullet-item Почта для домена
        %li.bullet-item Адаптивный веб-дизайн
        %li.bullet-item Система управления сайтом 
        %li.bullet-item Обучение администрирование
        %li.bullet-item Профессиональная поддержка
        %li.bullet-item HTML 5 / CSS 3 / JavaScript
        %li.bullet-item Веб реального времени
        %li.bullet-item Масштабируемость
        %li.bullet-item Покрытие тестами
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "PRO Web App"), class: "button success radius"
