%section#services.sections
  .webservices
    .row
      .small-12.medium-4.columns
        %h3
          %i.fi-wrench 
          Разработка
        %p В процессе разработки веб-приложения мы используем только новейшие технологии. Наша команда специализируется на современных языках программирования: Ruby и Javascript и  отдает предпочтения фреймворкам: Ruby on Rails, AngularJS и EmberJS. Мы делаем ставку на гибкой методологии разработки (Agile), чтобы сэкономить ваше время и деньги.
      .small-12.medium-4.columns
        %h3 
          %i.fi-lightbulb
          Дизайн
        %p Профессиональный внешний вид и дизайн имеет важное значение для сайта любой сложности. Веб-разработчики начинают сотрудничают с дизайнером на этапе проектирования прототипа сайта, чтобы убедиться, что не только функциональность, но и внешний вид, юзабилити сайта в самый раз. Мы воплотим ваше видение в реальность
      .small-12.medium-4.columns
        %h3
          %i.fi-pencil
          Контент
        %p В нашей команде есть профессиональные писатели трех национальностей: русской, американской и китайской. Которые могут написать уникальный, оригинальный и продающий контент для вашего сайта на различных языках. Спросите о нашей услуге написание контента уже сегодня.
    .row
      .small-12.medium-4.columns
        %h3 
          %i.fi-laptop
          Software
        %p Если вам необходимо уникальное программное обеспечение, выстроенное на базе уникальных потребностей вашего бизнеса, то не смотрите дальше. Наши программисты помогут создать программное обеспечение идеально подходящее для вашей отрасли исходя из ваших бизнес-потребностей. 
      .small-12.medium-4.columns
        %h3
          %i.fi-target
          SEO
        %p В дополнение к стандартной практике SEO, такой как внутренняя и внешняя оптимизация, мы предлагаем многоязычный SEO, чтобы помочь вашему бизнесу конкурировать на мировом рынке. Все работы с мультиязысностью сайта выполняются носителями языка.
      .small-12.medium-4.columns
        %h3
          %i.fi-tablet-portrait
          Адаптивность
        %p Все наши новые веб-сайты построены со свойствами адаптивного веб-дизайна. Ваш сайт будет выглядеть так же хорошо на крошечном смартфона, как и на большом экране рабочего стола. С увеличением количества мобильных пользователей, отзывчивый веб-дизайн становится более важным, чем когда-либо.
