%section#team.team
  .row
    .columns.small-12
      %h1 О нас
      %hr
      %p Мы предоставляем полный цикл разработки веб-сайтов от начала до конца, начиная от программирования программной части, дизайна логотипа и до написания контента. Мы специализируемся на проектирвоании веб-приложений используя фреймфорке Ruby on Rails, создании адаптивного веб-дизайна, продвижения веб-сайта в Китайском и Американском интернете. Также мы используем и другие технологии: JavaScript, EmberJS, AngulaJS, HTML5, CSS3. 
  %hr.white
  .row
    .columns
      %h1 Наша команда
  %hr
  %article.about_team
    .row
      .columns.small-12.medium-4.large-3
        .view
          .thumbnail
            = image_tag("team/dima.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:box@pozitive.biz"} box@pozitive.biz
                %p Дмитрий Сухих
                %p Веб-разработчик
      .columns.small12.medium-8.large-8
        .description
          %h4 Дмитрий Сухих
          %p Веб-разработчик
    .row
      .columns.small-12.medium-4.large-3
        .view
          .thumbnail
            = image_tag("team/alla.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:art@pozitive.biz"} art@pozitive.biz
                %p Алла Канаева
                %p Дизайнер
      .columns.small12.medium-8.large-8
        .description
          %h4 Алла Канаева
          %p Дизайнер
    .row
      .columns.small-12.medium-4.large-3
        .view
          .thumbnail
            = image_tag("team/denis.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:zam@pozitive.biz"} zam@pozitive.biz
                %p Денис Замятин
                %p Веб-разработчик
      .columns.small-12.medium-8.large-8
        .description
          %h4 Денис Замятин
          %p Веб-разработчик
    .row
      .columns.small-12.medium-4.large-3
        .view
          .thumbnail
            = image_tag("team/brett.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:brett@pozitive.biz"} brett@pozitive.biz
                %p Бретт Дворец
                %p Писатель
      .columns.small-12.medium-8.large-8
        .description
          %h4 Бретт Дворец
          %p Писатель

%hr.white
%section#tools.tools
  .row
    .columns
      %h3=t('pages.toolstitle')
      %hr
      %ul.small-block-grid-3.medium-block-grid-6.grayscale
        %li
          %a.th{href: "http://en.wikipedia.org/wiki/Backbone.js", target: "_blank"}
            =image_tag('tools/backbone.png')
        %li
          %a.th{href: "http://en.wikipedia.org/wiki/Arch_Linux", target: "_blank"}
            =image_tag('tools/arch.png')
        %li
          %a.th{href: "http://en.wikipedia.org/wiki/Emacs", target: "_blank"}
            =image_tag('tools/emacs.png')
        %li
          %a.th{href: "http://en.wikipedia.org/wiki/EmberJS", target: "_blank"}
            =image_tag('tools/ember.png')
        %li
          %a.th{href: "http://en.wikipedia.org/wiki/Happy_Hacking_Keyboard", target: "_blank"}
            =image_tag('tools/hhkb.png')
        %li
          %a.th{href: "http://en.wikipedia.org/wiki/Ruby_on_Rails", target: "_blank"}
            =image_tag('tools/rails.png')
