%header
%h1 Процесс разработки
%hr
%article
%p Использование гибкой методологии разработки Agile позволяет производить высококачественные веб-сайты в намеченный срок и укладываться в запланированный бюджет. Также он позволяет устранить потери времени на проектирования. Используя Agile метод разработки, мы можем превзойти желаемые ожидания. Ниже перечислены пять основных шагов проектирования веб-приложения :
%ul
  %li <strong>Консультации</strong> &mdash; здесь мы обсуждаем ваши ожидания и желания для вашего проекта и даем вам общее представление о цене.
  %li <strong>Настройка</strong> &mdash; This step involves the initial setup of your domain name, servers, security access, and basic user interface.
  %li <strong>Understanding</strong> your brand and corporate structure &ndash; Here we take a closer look at your corporate environment and the goals you have for your site. This allows us to align ourselves with your corporate structure and incorporate your branding goals into the site design and development. This is also when we begin to add content and functionality to your website.
  %li <strong>Cleanup and Live Launch</strong> &mdash; In this step, we clean up your website coding and fine tune the look, feel, and user interface. We tweak the content, images, navigations, security, and SEO optimization then launch your site live.
  %li <strong>Post Launch</strong> &mdash; After launching your site, we incorporate any feedback you have or design changes you desire. Once all the dust settles, this allows our team and yours the opportunity to take one final look at your website design and functionality  and decide where, if any, changes need to be applied.

