.row
  .small-12.columns
    %h1= t('Services')
%hr
.row
  .small-12.medium-3.columns.text-center
    = image_tag('ror.png')
  .small-12.medium-9.columns
    %h2 Разработка Ruby on Rails
    %p Студия Pozitive специализируется на проектировании веб-сайтов с использованием программного обеспечения с открытым исходным кодом (Open Source). Использование фреймворка Ruby on Rails (RoR) в сочетании с гибкой методологией разработки Agile позволяет небольшой группе программистов создавать высококачественное программноу обеспечение. RoR позволяет разработчику тратить меньше времени на создание веб-приложения. Данный фреймворк не только чрезвычайно популярен, но также прост в использовании. На нем было раработанно огромное количество стартапов, таких как Twitter и Amazon. В дополнение к RoR, мы используем AngularJS или EmberJS для большой интерактивности веб-сайта.
%hr.white
.row
  .small-12.medium-3.columns.text-center
    = image_tag('responsive.png')
  .small-12.medium-9.columns
    %h2 Адаптивный веб-дизайн
    %p  Отзывчивый веб-дизайн обеспечивает оптимальное отображение веб-сайта на любом расширении экрана и позволяет просматривать сайт с различных устройств, без необходимости создания отдельных версий, для каждого вида устройства. Адаптивный веб-дизайн экономит ваше время и деньги за счет устранения необходимости проектирования, разработки и управления контентом нескольких сайтов.
%hr.white
.row
  .small-12.medium-3.columns.text-center
    = image_tag('multilingual-seo.png')
  .small-12.medium-9.columns
    %h2 Мультиязычное SEO
    %p В эпоху глобализации для многих компаний уже не достаточно иметь одноязычный веб-сайт. После локализации сайта на иностранные языке, необходимо задуматься о мультиязычном SEO. Мы предлагаем профессиональные услуги продвижения на Китайском, Английском и Русском языках.

